%section#comment-area
  %h2 Comments

  - if comments.present?
    = render partial: '/comments/comment', collection: comments
  - else
    %p No comments yet

  - if policy(new_comment).new?
    = render '/comments/form', comment: new_comment
  - else
    %p Please log in to comment.

