<!DOCTYPE html>
<html>
<head>
  <title>UpliftingLemma</title>
  <%= stylesheet_link_tag    "uplifting_lemma/application", media: "all" %>
  <%= javascript_include_tag "uplifting_lemma/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
