<div class="page-header">
    <h1>We offer the following apps:</h1>
</div>

<ul>
    <%= content_tag_for :li, App.all do |app| %>
        <h3><%= link_to app.name, app_route(app).root_url %></h3>
    <% end %>
</ul>
