<div class="page-header">
    <h1>We offer the following apps:</h1>
</div>

<ul>
    <%= content_tag_for :li, App.all do |app| %>
        <%= link_to app.name, app_route(app).root_url %>
    <% end %>
</ul>

<p>Current user: <%= browserid_current_user.inspect %></p>
