<article class="article">
    <div class="page-header">
        <h1 class="article-title">
            <%= link_to article.title, article %>
        </h1>

        <p class="article-byline"><%= article_byline article %></p>
    </div>

    <div class="article-body">
        <%= article_body article %>
    </div>
</article>

