// Place all the styles related to the blog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-color: hsl(115, 75%, 33%);

@import "theme";

#header {
    background-image: image-url('chasing-rabbits/grass-overlay.png');
    background-size: 100% auto;
}

