html {
    height: 100%;
}

body {
    height: 100%;
}

.theme-page-shadow {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.33);
}

#background {
    height: 100%;
}

#container {
    height: 100%;
}

#page {
    position: relative;

    height: auto !important;
    height: 100%;
    min-height: 95%;

    padding: 10px;
    margin: 5px 0;

    background: white;
    border-radius: 3px;

    #header {
        margin-bottom: 0;

        h1 {
            color: white;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);

            a {
                color: inherit;

                &:hover {
                    color: inherit;
                    text-decoration: none;
                }
            }
        }

        h2 {
            margin-left: 30px;
            color: white;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

            font-size: 25px;
            font-style: italic;

            .powered-by {
                opacity: 0.6;
            }

            a {
                color: white;
                opacity: 0.6;

                &:hover {
                    color: white;
                    opacity: 0.8;
                    text-decoration: none;
                }
            }
        }
    }

    #toolbar {
        margin: 0 0 5px 0;
        background: none;
        border: none;
    }

    .icon {
        position: relative;
        top: 1px;
        margin-right: 3px;
    }

    #content {
        padding: 0 10px 70px 10px;
    }

    #footer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        padding: 0 20px 20px 20px;

        font-size: 10px;
        color: gray;
    }
}

