<% content_for :head do %>
    <%= stylesheet_link_tag @app.slug, 'data-turbolinks-track' => true %>
<% end %>

<% content_for :app_title do %>
    <%= link_to @app.name, app_url %>
<% end %>

<% if not @app.is_default? %>
    <% content_for :subtitle do %>
        <span class="powered-by">Powered by</span> <%= link_to "Uplifting Lemma", root_url %>
    <% end %>
<% end %>

<%= render template: "layouts/application" %>

