$primary-color: hsl(100, 75%, 33%);
$primary-image: image-url('chasing-rabbits/grass-overlay.png');
$background-color: white;

.app-chasing-rabbits {
    .theme-primary-color {
        color: $primary-color;
    }

    .theme-primary-background {
        background-color: $primary-color;
    }

    .theme-primary-image {
        background-image: $primary-image;
    }

    .theme-page-shadow {
        box-shadow: none;
    }

    .theme-dark-background {
        background-color: $background-color;
    }

    hr {
        height: 16px;
        padding: 0;
        margin: 1em 0;
        border: none;
        background-image: image-url('chasing-rabbits/hr-bunnies.svg');
        background-repeat: no-repeat;
        background-size: auto 16px;
        background-position: center;
        opacity: 0.75;
    }
}

